<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866937786510-cji2o4tlhudqeqbnhd0upo2f7bs2a2hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866937786510-cji2o4tlhudqeqbnhd0upo2f7bs2a2hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCuCkeUPEAD5B5Wj59WISaa0-o7agEV_XU</string>
	<key>GCM_SENDER_ID</key>
	<string>866937786510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yigitozdamar.QuizUp-Battle</string>
	<key>PROJECT_ID</key>
	<string>quizupbattle</string>
	<key>STORAGE_BUCKET</key>
	<string>quizupbattle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866937786510:ios:3370dad4384838a439f9df</string>
</dict>
</plist>