<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59082453199-4u512iuicftkf4m6b55i1k70e6tjbgba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59082453199-4u512iuicftkf4m6b55i1k70e6tjbgba</string>
	<key>API_KEY</key>
	<string>AIzaSyBaSfBcCBF97rpZLSFyMbhuCxYRo7fQifA</string>
	<key>GCM_SENDER_ID</key>
	<string>59082453199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yigitozdamar.QuizUp-Battle</string>
	<key>PROJECT_ID</key>
	<string>quizup-battle</string>
	<key>STORAGE_BUCKET</key>
	<string>quizup-battle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:59082453199:ios:363c75e09f9fca35c307ba</string>
	<key>DATABASE_URL</key>
	<string>https://quizup-battle-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
