//
//  Config.xcconfig
//  QuizUp Battle
//
//  Created by Yigit Ozdamar on 28.02.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-QuizUp Battle/Pods-QuizUp Battle.debug.xcconfig"

GID_CLIENTID = 168436767996-qme3vcgnipekdjnpeiklbr279jrch724.apps.googleusercontent.com
GAD_APPLICATIONID = ca-app-pub-4249517004426852~5517411753
